.remainder {
    width: 100px;
    text-align: center;
    background-color:lightpink;
}

.savings {
    width: 100px;
    text-align: center;
    background-color:lightgreen;
}

.expense {
    width: 100px;
    text-align: center;
    background-color:lightblue;
}

.boundary_edge {
    margin: 0px;
    padding: 0px;
    width: 250px;
    border: 2px solid black;
}

.boundary_std {
    margin: 0px;
    padding: 0px;
    width: 96px;
    margin-right: auto;
    border: 2px solid black;
}

p {
    margin: 0px;
}