{% extends "MoneyMadeEasy/layout.html" %}

{% block body %}
    <!-- Display an error message if appropriate -->
    {% if message %}
        <h4>{{ message }}</h4>
    {% endif %}

    <!-- Form to add new expenses -->
    <h3>Add a New Expense</h3>
    <form action="{% url 'add_expense' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="user_ID" value="{{ request.user.id }}">
        <ul>
            <li>
                Name: <input type="text" name="name" placeholder="Name">
            </li>
            <li>
                <label for="category">Category: </label>
                <select name="category">
                    <option value="None">Select a category...</option>
                    <option value="Loan">Loan</option>
                    <option value="Fixed/Recurring">Fixed/Recurring</option>
                </select>
            </li>
            <li>
                Amount ($): <input type="number" name="amount" placeholder="Amount ($)" min="0.01" step="0.01">
            </li>
        </ul>
        <input type="submit" value="Add Expense">
    </form>
    <br>
    <a href="{% url 'expenses' %}">View Current Monthly Expenses</a>
{% endblock %}