{% extends "MoneyMadeEasy/layout.html" %}

{% block body %}
    <h3>Monthly Expenses</h3>
    <ul>
        {% for expense in expenses %}
            <a href="{% url 'edit_expense' expense.id %}">
                <li>Name: {{ expense.name }}, Category: {{ expense.category }}, Amount ($): ${{ expense.amount }}</li>
            </a>
            <ul>
                <a href="{% url 'remove_expense' expense.id %}">
                    <li>Remove this expense</li>
                </a>
            </ul>
        {% empty %}
            <li>No expenses so far!</li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_expense' %}">Add a New Expense</a>
{% endblock %}