{% extends "MoneyMadeEasy/layout.html" %}
{% load static %}

{% block script %}
    <!-- Display confirmation message before deleting expense entries -->
    <script>
        function remove_expense(ID_num) {
            if (confirm("Are you sure you want to remove this expense?")) {
                window.location.href = "{% url 'remove_expense' 123 %}".replace('123', ID_num);
            }
        }
    </script>

    <!-- Common JS across entire website -->
    <script src="{% static 'MoneyMadeEasy/scripts.js' %}"></script>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.15/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.15/dist/js/uikit-icons.min.js"></script>
{% endblock %}

<!-- Form to edit/delete expenses -->
{% block body %}
    <h2>Monthly Expenses</h2>
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th><u>Name</u></th>
                <th><u>Type</u></th>
                <th><u>Amount ($)</u></th>
                <th><u>Edit</u></th>
                <th><u>Delete</u></th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.name }}</td>
                <td>{{ expense.category }}</td>
                <td>${{ expense.amount }}</td>
                <td><a href="{% url 'edit_expense' expense.id %}">Edit</a></td>
                <td class="td_delete" onclick="remove_expense('{{ expense.id }}')">Delete</td>
            </tr>
            {% empty %}
                <li>No expenses so far!</li>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add_expense' %}">Add a New Expense</a>
{% endblock %}