{% extends "MoneyMadeEasy/layout.html" %}

<!-- JS Section to display loan repayment amounts on screen -->
{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('form').onsubmit = function() {

                // Once form is submitted, parse information about loan
                var payment_display = document.getElementById("payment_display"); 
                var amount = document.getElementById("amount").value;
                var int_rate = document.getElementById("int_rate").value;
                var period = document.getElementById("period").value;
                var start = document.getElementById("start").value;
                var frequency = document.getElementById("frequency").value;

                // Compute the loan repayment amount, display on screen
                var payment = compute_loan(amount, int_rate, period, start, frequency);
                payment_display.innerHTML = `Monthly Payment: $${payment}`;
                return false;
            };
        });

        // Helper function to compute payment amount for a loan
        function compute_loan(amount, int_rate, period, start, frequency) {

            // Compute periodic interest rate & number of repayments
            i = (int_rate / 100) / frequency;
            n = period * frequency;

            // Compute annuity & corresponding payment amount
            annuity_PV = ((1 - Math.pow((1 + i), -n)) / i);
              
            if (start == "deferred") {
                annuity_PV *= (1 + i);
            }

            payment = (amount / annuity_PV).toFixed(2);
            return payment;
        };
    </script>
{% endblock %}

{% block body %}
    <!-- Form to compute loan payment amounts -->
    <form>
        <h3>Calculate a New Loan</h3>
        <ul>
            <li>
                Loan Amount ($): <input type="number" id="amount" placeholder="Loan Amount ($)">
            </li>
            <li>
                Annual Interest Rate (%): <input type="number" id="int_rate" placeholder="Annual Interest Rate (%)">
            </li>
            <li>
                Loan Period (Yrs.): <input type="number" id="period" placeholder="Loan Period (Yrs.)">
            </li>
            <li>
                <label for="start">First Payment Was: </label>
                <select id="start">
                    <option value="none">Select an option...</option>
                    <option value="immediate">Immediate</option>
                    <option value="deferred">Deferred</option>
                </select>
            </li>
            <li>
                <label for="frequency">Payment Frequency: </label>
                <select id="frequency">
                    <option value="0">Select an option...</option>
                    <option value="12">Monthly</option>
                    <option value="6">Every Two Months</option>
                    <option value="4">Every Three Months</option>
                    <option value="2">Every Six Months</option>
                    <option value="1">Annually</option>
                </select>
            </li>
        </ul>
        <input type="submit" value="Calculate Payment">
    </form>
    <h4 id="payment_display">Monthly Payment: $0.00</h4>
    <a href="{% url 'loan_refinance' %}">Refinance a Loan Instead?</a>
{% endblock %}
