{% extends "MoneyMadeEasy/layout.html" %}
{% load static %}

{% block script %}
    <!-- JS file to (1) compute loan payments and (2) add loans to expenses list -->
    <script src="{% static 'MoneyMadeEasy/loan_refinance.js' %}"></script>

    <!-- Common JS across entire website -->
    <script src="{% static 'MoneyMadeEasy/scripts.js' %}"></script>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.15/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.15/dist/js/uikit-icons.min.js"></script>
{% endblock %}

<!-- Form to refinance an existing loan w/ a new interest rate -->
{% block body %}
    <form id="form_compute_loan">
        <h2>Refinance an Existing Loan</h2>
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Original Loan Amount ($)</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="number" id="amount" placeholder="Loan Amount ($)" min="0.01" step="0.01">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Loan Period (Yrs.)</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="number" id="period" placeholder="Loan Period (Yrs.)" min="1" step="1">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Original Annual IR (%)</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="number" id="IR_old" placeholder="Original Annual Interest Rate (%)" min="0.01" step="0.01">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Payment Frequency</label>
            <select class="uk-select" id="frequency">
                <option value="None">Select an option...</option>
                <option value="12">Monthly</option>
                <option value="6">Every Two Months</option>
                <option value="4">Every Three Months</option>
                <option value="2">Every Six Months</option>
                <option value="1">Annually</option>
            </select>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">First Payment Was:</label>
            <select class="uk-select" id="start">
                <option value="None">Select an option...</option>
                <option value="immediate">Immediate</option>
                <option value="deferred">Deferred</option>
            </select>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Number of Payments Made</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="number" id="num_payments" placeholder="Number of Payments Made" min="1" step="1">
            </div>
        </div>
        <hr style="border: 1.5px dotted black; margin-left: -3%; margin-right: -3%;">
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Last Payment Was __ Month(s) Ago</label>
            <select class="uk-select" id="last_payment">
                <option value="None">Select an option...</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Next Payment Due in __ Month(s)</label>
            <select class="uk-select" id="next_payment">
                <option value="None">Select an option...</option>
                <option value="0">Due Immediate</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">New Annual IR (%)</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="number" id="IR_new" placeholder="New Annual Interest Rate (%)" min="0.01" step="0.01">
            </div>
        </div>
        <div class="uk-margin">
            <input class="uk-input uk-form-width-medium" type="submit" value="Calculate New Payment">
        </div>
    </form>
    <hr style="border: 2px solid black; margin-left: -3%; margin-right: -3%;">
    <h4 style="text-align: start; margin-bottom: -1%" id="payment_display_old">Old Monthly Payment: $0.00</h4>
    <h4 style="text-align: start;" id="payment_display">New Monthly Payment: $0.00</h4>

     <!-- Form to add this^^ loan to monthly expenses list -->
     <form id="form_add_loan" action="{% url 'add_expense' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="user_ID" value="{{ request.user.id }}">
        <input type="hidden" name="name" id="loan_name" value="(INSERT LOAN NAME HERE)">
        <input type="hidden" name="category" value="Loan">
        <input type="hidden" name="amount" id="loan_amount" value="0.00">
        <div class="uk-margin">
            <input class="uk-input uk-form-width-medium" type="submit" value="Add to Monthly Expenses">
        </div>
    </form>
    <a href="{% url 'loan_new' %}">Calculate a New Loan?</a>
    <br>
    <br>
{% endblock %}