{% extends "MoneyMadeEasy/layout.html" %}

{% block body %}
    <!-- Error message for a failed login attempt OR logout message-->
    {% if message %}
        {{ message }}
        <br>
    {% endif %}

    <!-- Login form -->
    <form class="uk-form-stacked" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Username</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" name="username" placeholder="Username">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Password</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="password" name="password" placeholder="Password">
            </div>
        </div>
        <div class="uk-margin">
            <input id="test" class="uk-input uk-form-width-small" type="submit" value="Login">
        </div>
    </form>
    <a href="{% url 'register' %}">New User?</a>
{% endblock %}