{% extends "MoneyMadeEasy/layout.html" %}

{% block body %}
    <!-- Error message if registration was unsuccessful -->
    {% if message %}
        {{ message }}
    {% endif %}

    <!-- Registration form for new users -->
    <form class="uk-form-stacked" action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Username</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="text" name="username" placeholder="Username">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Password</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="password" name="password" placeholder="Password">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Password (Confirm)</label>
            <div class="uk-form-controls">
                <input class="uk-input" type="password" name="password_confirm" placeholder="Password (Confirm)">
            </div>
        </div>
        <div class="uk-margin">
            <input class="uk-input uk-form-width-small" type="submit" value="Register">
        </div>
    </form>
    <a href="{% url 'login' %}">Return to Login Page</a>
{% endblock %}