{% extends "MoneyMadeEasy/layout.html" %}
{% load static %}

<!-- Common styling over entire page -->
{% block style %}
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.15/dist/css/uikit.min.css" />

    <!-- Common CSS across entire website -->
    <link rel="stylesheet" href="{% static 'MoneyMadeEasy/styles.css' %}">

    <!-- Custom CSS for <visual.html> page -->
    <link rel="stylesheet" href="{% static 'MoneyMadeEasy/visual.css' %}">
{% endblock %}

<!-- Rectangle height = proportional to monetary amount -->
{% block script %}
    <script>
        // Constants to setup visual representation (i.e. each rectangle height = proportional to $$ amount)
        height = 75;
        offset = 50;
        cutoff = 50;
        min_padding = 2;
        
        // Parse incoming context data about current user
        amounts = {{ amounts }};
        avg = {{ avg }};
        remainder = {{ remainder }};
        savings = {{ savings }};
    </script>
    <script src="{% static 'MoneyMadeEasy/visual.js' %}"></script>

     <!-- UIkit JS -->
     <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.15/dist/js/uikit.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.15/dist/js/uikit-icons.min.js"></script>
{% endblock %}

{% block body %}
    <h2>Visualize Your Expenses</h2>

    <hr class="boundary_edge">
    {% if over_budget %}
        <p style="color:red">You are currently over budget by ${{ remainder }}. Here are some suggestions:</p>
        <ul style="margin:5px">
            <li>Increase your monthly disposable income by ${{ remainder }}</li>
            <li>Decrease your goal savings by ${{ remainder }}</li>
            <li>Reduce your monthly expenses by ${{ remainder }}</li>
            <li>... or some combination of these three actions</li>
        </ul>
    {% else %}
        <p>Total Disposable Income: ${{ total_DI }}</p>
        {% if remainder == 0 %}
            <br>
            <p>NOTE: You currently have exactly $0.00 leftover, i.e. your disposable income exactly balances your savings and expenses.</p>
        {% endif %}
    {% endif %}

    {% if remainder != 0 %}
        <hr class="boundary_edge">
    {% endif %}

    {% if over_budget %}
        <div class="remainder" id="remainder">
            <p id="remainder_txt">Over Budget (-${{ remainder }})</p>
        </div>
    {% else %}
        {% if remainder != 0 %}
            <div class="remainder" id="remainder">
                <p id="remainder_txt">Remaining $$ (${{ remainder }})</p>
            </div>
        {% endif %}
    {% endif %}

    {% if remainder == 0 %}
        <hr class="boundary_edge">
    {% else %}
        <hr class="boundary_std">
    {% endif %}
    
    <div class="savings" id="savings">
        <p id="savings_txt">Goal Savings (${{ savings }})</p>
    </div>
    <hr class="boundary_std">

    {% for expense in expenses %}
        <div class="expense" id="expense{{ forloop.counter0 }}">
            <p id="text{{ forloop.counter0 }}">{{ expense.name }} (${{ expense.amount }})</p>
        </div>
        {% if forloop.counter != expenses|length %}
            <hr class="boundary_std">
        {% endif %}
    {% empty %}
        No expenses so far!
    {% endfor %}

    <br>
    <br>
{% endblock %}